* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dynamic-text {
  line-height: 60px;
  height: 60px;
  overflow: hidden;
}

.dynamic-text li {
  list-style: none;
  position: relative;
  top: 0;
  animation: slide 9s steps(3) infinite;
}

@keyframes slide {
  100% {
    top: -180px;
  }
}

.dynamic-text li::after {
  content: "";
  position: absolute;
  background-color: white;
  left: 0;
  height: 100%;
  width: 100%;
  border-left: 2px solid #ff4c29;
  animation: typing 3s steps(25) infinite;
}

@keyframes typing {
  40%, 60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }

}
